/* Apply a style to the entire body */
body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #0b0b0b;
}

/* Style for the H1 heading */
h1 {
    color: #df5b0f; 
    border-bottom: 2px solid #ff6f61;
    padding-bottom: 10px;
    color: #ff6f61;
     animation: shake 0.5s infinite;
}

h2 {
    color: #ff6f61; 
}

nav ul li {
    color: white; 
}

nav ul li a {
    color: white; 
    text-decoration: none; /* odstraní podtržení */
}
/* Style for the paragraph */
p {
    color: rgb(245, 240, 240);
    line-height: 1.6;
}