/* Apply a style to the entire body */
body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #0b0b0b;
}

/* Style for the H1 heading */
h1 {
    color: #df5b0f; 
    border-bottom: 2px solid #ff6f61;
    padding-bottom: 10px;
    color: #ff6f61;
     animation: shake 0.5s infinite;
}

h2 {
    color: #ff6f61; 
}

nav ul li {
    color: white; 
}

nav ul li a {
    color: white; 
    text-decoration: none; /* odstraní podtržení */

}

/* Menu - seznam s tečkama  a položky pod sebou */
nav ul {
    list-style: disc;
    gap: 30px;                 /* mezera mezi odkazy */
    padding-left: 20;                /* odstraní výchozí padding */
    margin-bottom: 20px;       /* mezera pod menu */
}

/* Menu - jednotlivé odkazy */
nav ul li a {
    color: white;              /* barva textu odkazu */
    text-decoration: none;     /* odstraní podtržení */
    font-weight: bold;
    padding: 5px 10px;         /* prostor kolem textu */
    border-radius: 5px;        /* jemně zaoblené rohy */
    transition: background-color 0.3s, color 0.3s; /* hladký přechod při hover */
}

/* Menu - efekt při najetí myší */
nav ul li a:hover {
    background-color: #ff6f61; /* oranžové pozadí */
    color: #0b0b0b;            /* text ztmavne */
}
/* Style for the paragraph */
p {
    color: rgb(245, 240, 240);
    line-height: 1.6;
}